@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}
main {
  padding: 36px;
}
.nav {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #d35a26 100%);
  color: white;
  padding: 20px;
}

.troll {
  width: 31.31px;
  height: 26.22px;
  margin-right: 6px;
}

.header-title {
  font-size: 20px;
}

.header-project {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-left: 50%;
  padding: 5px;
  /* text-align: right; */
}

/* Start of Form */
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.meme {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.memeImg {
  height: 400px;
  max-width: 600px;
  border-radius: 5px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
